<!doctype html>
<html>
 <head>
  <meta charset="utf-8" />
  <title>Book Collection Manager</title>
 </head>
 <body>
   <h1>Library:</h1>
   <a href='/add'>Add a book to your collection:</a>
   {{#books}}
    <div>
      <h2>{{title}}</h2>
      <h3>{{author}}</h3>
      <h4>{{publisher}}</h4>
      <h5>{{released}}</h5>
      <h6>{{genre}}</h6>
    </div>
   {{/books}}
 </body>
</html>
